

<%= form_for @task do |f| %>


<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@task.errors.count, "error") %> prevented
      task from being saved:
    </h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= f.label :person, "Your name" %><br />
    <%= f.text_field :person %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, id: "description-textarea", class: "form-control", rows: 5 %>
    <div id="textarea_feedback"></div>
  </p>

  <p>
    <%= f.label :status %><br />
    <%= f.select :status, Status::ALL %>
  </p>

  <p>
  <% if current_user.admin %>
    <%= f.label :company %><br />
    <%= f.select :company, @all_companies %>
  <% end %>
  </p>

  <p>
    <%= f.button :button, id: :submit, class: "btn btn-primary" do %>
      Create task
    <% end %>
  </p>


<% end %>

<%= link_to 'Back', tasks_path %>
