<div class="row">
  <h1>All tasks </h1>

  <% if @tasks.any? %>
      <div class="table-responsive">
        <table class="table table-striped display">
          <thead>
            <tr class="table-row">
              <th>Date of request</th>
              <th>Company</th>
              <th>Made by</th>
              <th>Description</th>
              <th>Status (currently company)</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
              <tr class="table-row">
                <td><%= task.created_at %></td>
                <td><%= task.company %></td>
                <td><%= task.person %></td>
                <td><%= task.description %></td>
                <td>None yet</td>
                <td><%= link_to 'Edit', edit_task_path(task) %>
                    <%= link_to 'Delete', task_path(task), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% else %>
    <h3>No tasks have been added yet.</h3>
  <% end %>

  <%= link_to "Add a task", new_task_path %>
</div>
