<%= form_for User.new, url: create_user_path do |f| %>

  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :company %>
        <%= f.text_field :company, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", :placeholder => '8 characters minimum', class: "form-control"  %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
