<div class="row">
  <h1>Manage users</h1>

  <% if @users.any? %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-row">
              <th>Company</th>
              <th>Email</th>
              <th>Open tasks</th>
              <th>Complete tasks</th>
              <th>Admin?</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr class="table-row">
                <td> <%= user.company %></td>
                <td> <%= user.email %></td>
                <td> <%= user.open_tasks_for_company %></td>
                <td> <%= user.complete_tasks_for_company %></td>
                <td> <%= user.admin %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% end %>

  <%= link_to "Add a user", new_user_path, class: "btn btn-primary" %>

</div>
