<div class="row">
  <h1>Manage users</h1>

  <% if @users.any? %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-row">
              <th>Company</th>
              <th>Email</th>
              <th>Open tasks</th>
              <th>Complete tasks</th>
              <th>Admin?</th>
              <th>Options</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr class="table-row">
                <td> <%= user.company %></td>
                <td> <%= user.email %></td>
                <td> <%= user.open_tasks_for_company %></td>
                <td> <%= user.complete_tasks_for_company %></td>
                <td> <%= user.admin %></td>
                <td> <%= link_to 'Delete user', user_path(user), method: :delete,
                        data: { confirm: "Are you sure you want to delete this user? This cannot be undone!" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% end %>

  <br>
  <div class="add-user-button">
    <a href="#new-user-form" class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="new-user-form"> Add a user</a>
  </div>

  <div id="new-user-form" class="collapse">
    <%= render 'users/new' %>
  </div>

</div>
